<!-- for global panel -->
<div cdkOverlayOrigin #sidenav="cdkOverlayOrigin" class="global-class">
  <mat-list>
    <mat-list-item *ngIf="isAttachmentVisible">
      <!-- TODO: Demo [ngClass]="{'disabled-class':  isViewEdit === 'view' }" -->
      <mat-icon (click)="showChildComponent('attach')" matTooltip="Attachments">
        attach_file
        <span class="badge">{{attachmentCount}}</span>
      </mat-icon>
    </mat-list-item>
    <!-- TODO: Demo <mat-list-item>
      <mat-icon (click)="showChildComponent('notes')" matTooltip="Notes">file_copy</mat-icon>
    </mat-list-item> -->
    <mat-list-item *ngIf="isAuditVisible">
      <mat-icon (click)="showChildComponent('list')" matTooltip="Audit Trail">list</mat-icon>
    </mat-list-item>
    <mat-list-item *ngIf="isReportVisible">
      <mat-icon (click)="showChildComponent('report')" matTooltip="Reports">my_library_books</mat-icon>
    </mat-list-item>
  </mat-list>
</div>
<ng-template cdkPortal #sidenavTemplate="cdkPortal">
  <mat-card class="template-class height_100" (blur)="onBlur()">
    <div>
      <div *ngIf="showComponent == 'attach'">
        <app-attachment [screenName]="screenName" [isViewEdit]="isViewEdit" (refreshCount)="getAttachmentCount()"></app-attachment>
      </div>
      <!-- TODO: Demo <div *ngIf="showComponent == 'notes'">
        <p class="m_5">Notes Component</p>
      </div> -->
      <div *ngIf="showComponent == 'list'">
        <app-audit-trail [screenName]="screenName" *ngIf="showComponent == 'list'"></app-audit-trail>
      </div>
      <div *ngIf="showComponent == 'report'">
        <app-report [screenName]="screenName" (openReport)="openReport($event)" [reportEntity]="reportEntity"
          [entityInfo]="entityInfo"></app-report>
      </div>
    </div>
  </mat-card>
</ng-template>
<!-- for global panel -->